aiofiles==24.1.0
annotated-types==0.7.0
click==8.2.1
greenlet==3.2.4
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.3.2
pandas==2.3.2
playwright==1.55.0
pydantic==2.11.7
pydantic_core==2.33.2
pyee==13.0.0
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
rich==14.1.0
shellingham==1.5.4
six==1.17.0
typer==0.17.3
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
